# When you do 'npm install --save' the version is saved without the ^
save-exact=true

# Will not try to install fsevents which is incompatible with 'win32'
optional=false

# The internal Payoneer's registry
registry=http://packagemanager.payoneer.com:81/npm/Private-npm/
